:root{
    --black-color: #020403;
    --gray-color: #ADADAD;
    --white-color: #FFFFFF;
    font-size: 16px
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    font-family: 'Rubik', sans-serif;
    color: var(--white-color);
    width: 96vw;
    
}

nav{
    height: 100%;

    
}
.container-menu{
    position: absolute;
    background-color: rgb(19, 17, 17);
    height: 100vh;
    position: fixed;
    transition: all 500ms ease;
    transform: scaleX(0%);
    
    
}
.cont-menu{
    height: 100%;
}
#btn-menu{
    display: none ;
}

#btn-menu:checked ~ .container-menu{
    transform: scaleX(100%);
}

nav > ul{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    padding: 25px 3px ;
    


    
    
    
}
.btn{
    display: flex;
    justify-content: end;
}
.btn-nav{
    background-color: var(--black-color);
    position: sticky;
}
    
    


    
    
    
.btn-nav > div{

height: 5px;
width: 30px;
background-color: white;
margin: 3px 30px 0 0;
}

.btn-nav:first-of-type{
    margin-top: 20px;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    color: var(--white-color);
    gap: 20px;
}
.presentation > p{
    
    font-size: 25px;
    font-weight: 500;
    color: var(--gray-color);
}
.presentation > h1{
font-size: 40px;
font-weight: 600;
text-align: center;
}
.social-webs{
    display: flex;
    gap: 30px;
}
.about-me{
    margin: 30px 10px;
    text-align: center;
    }
.sub-text{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.about-me > p{
    margin-top: 15px;
    color: var(--gray-color);
}
.skills-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.skill-icons{
    background-color: rgba(28, 25, 25, 0.939) ;
    border-radius: 50%;
    padding: 10px;
    
}
.expertise{
    color: var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    
    
    
    margin: 40px 5px 0px 5px;
}
.sub-section{
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
}
.years{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    width: 80%;
    padding: 10px; 
}
.year{
width: 50%;

}
.years > p{
width: 50%;
}

.bar{
    border-top: 1px solid var(--gray-color);
  }

.expertise > h2 {
    margin-bottom: 25px;
}


    

.circle1{
    border-radius: 50%;
    border: 1px solid white;
    height: 100px;
    width: 100px;
    padding: 10px;
    transform: translateX(-30%);
}
.circle2{
    border: 1px solid;
    border-radius: 50%;
    height: 80px;
    padding: 10px;
}

.circle3{
    border: 1px solid;
    border-radius: 50%;
    height: 60px;
    width: 60px;
  
}
.briefcase{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.briefcase > h2{
    margin-left: 10%;
    align-self: baseline
    ;
}
.briefcase > img {
    width: 80%;
    margin: 15px 5px 0px 5px;
}
.contact{
    margin: 50px auto;
    width: 80%;
    
    
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px;
}
.heart-shape{
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: var(--gray-color);
}
.heart-shape:before,
.heart-shape:after{
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--gray-color);
}
.heart-shape:before{
    bottom: 0px;
    left: -10px;
}
.heart-shape:after{
    top: -10px;
    right: 0px;
}




.img2{
    display: none;
}
.skills-desktop{
    display: none;
}

.sub-section > li > a{
    text-decoration: none;
}
.sub-section > li > a:visited{
    text-decoration: none;
    color: var(--white-color);
}
.sub-section > li > a:link{
    color: var(--white-color);
}

@media (min-width: 768px){
body{
   font-size: 18px; 
}
    .container-menu{
        display: block;
        position:static;
        background-color: rgb(19, 17, 17);
        height: 8vh;
        position: fixed;
        justify-content: end;
        width: 100%;
        transform: scaleX(100%);
        transition: none;
    }
    .cont-menu{
        width: 100%;
    }
    
    nav > ul{
        flex-direction: row;
        list-style: none;
        justify-content: end;
        margin-right: 20px;
        
        
        

        
        
    }
    nav > ul > li {
        font-size: 15px;
    }
    .btn-nav{
        display: none;
    }
    .img1{
        display: none;
    }
    .img2{
        margin-top: 30px;
        display: inline;
    }
    .sub-text{
        font-size: 50px;
        font-weight: 600 ;
    }
    .sub-section{
        font-size: 45PX;
        font-weight: 400;
    }
    .presentation > p{
    
        font-size: 50px;
        font-weight: 600;

}

.presentation > h1{
    font-size: 80px;
    font-weight: 500;
}
        
.social-webs{
    gap: 80px;
    
}

.skills{
    flex-direction: row;
}
      
.skills-mobile{
    display: none;
}
.skills-desktop{
    
    text-align: center;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.icons-container{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    
}
.icons-desktop{
    display: block;
    width: 50% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    
}
.skill-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
}
.briefcase {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}    
.briefcase > img {
    width: 33%;
    margin: 15px 5px 0px 5px;
}    
.portafolio  {
    text-align: center;
}
.contact{
    text-align: center;
}
.contact1{
    gap: 30px;
}
    
}
    


