:root{
    --black-color: #020403;
    --gray-color: #ADADAD;
    --white-color: #FFFFFF;
    
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Rubik', sans-serif;
}

nav{
    color: var(--white-color);
    height: 30px;
    
    top: 0px;
    display: flex;
    justify-content: end;

    
}

nav > ul{
    display: none;
    
}

.btn-nav{
    background-color: var(--black-color);
    border: none;
    }
.btn-nav > div{

height: 5px;
width: 30px;
background-color: white;
margin: 3px 30px 0 0;
}

.btn-nav:first-of-type{
    margin-top: 20px;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    color: var(--white-color);
    gap: 20px;
}
.presentation > p{
    
    font-size: 25px;
    font-weight: 500;
    color: var(--gray-color);
}
.presentation > h1{
font-size: 40px;
font-weight: 600;
}

