:root{
    --black-color: #020403;
    --gray-color: #ADADAD;
    --white-color: #FFFFFF;
    font-size: 16px
}
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Rubik', sans-serif;
    color: var(--white-color);
    width: 100vw;
}

nav{
    color: var(--white-color);
    height: 30px;
    
    top: 0px;
    display: flex;
    justify-content: end;

    
}

nav > ul{
    display: none;
    
}

.btn-nav{
    background-color: var(--black-color);
    border: none;
    }
.btn-nav > div{

height: 5px;
width: 30px;
background-color: white;
margin: 3px 30px 0 0;
}

.btn-nav:first-of-type{
    margin-top: 20px;
}
.presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    color: var(--white-color);
    gap: 20px;
}
.presentation > p{
    
    font-size: 25px;
    font-weight: 500;
    color: var(--gray-color);
}
.presentation > h1{
font-size: 40px;
font-weight: 600;
text-align: center;
}
.social-webs{
    display: flex;
    gap: 30px;
}
.about-me{
    margin: 30px 10px;
    text-align: center;
    }
.sub-text{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.about-me > p{
    margin-top: 15px;
    color: var(--gray-color);
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.skill-icons{
    background-color: rgba(28, 25, 25, 0.939) ;
    border-radius: 50%;
    padding: 10px;
    
}
.expertise{
    color: var(--gray-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    
    
    
    margin: 40px 5px 0px 5px;
}
.sub-section{
    font-size: 18px;
    font-weight: 500;
    color: var(--white-color);
}
.years{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 5px;
    width: 80%;
}
.year{
width: 50%;
}
.years > p{
width: 50%;
}

.bar{
    border-top: 1px solid var(--gray-color);
   padding: 10px; 
  
}

